<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="register" modelAttribute="user">
            <input type="input" name="firstName"  id="firstName" path="firstname" placeholder="First Name">
            <input type="input" name="lastName"  id="lastName" path="lastname" placeholder="Last Name">
            <input type="email"  name="email" placeholder="Email" >
            <input type="password" name="password" id="inputPassword" placeholder="Password">
            <button  type="submit">Register</button>
    </form>
</body>
</html>