<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/transfer.css" th:href="@{/css/transfer.css}">
    <title>Transfer Page</title>
</head>
<body>
<header>
    <div th:replace="~{/navbar::topbar}"></div>
</header>

<ul id="page">
    <li><h2 id="hometransfer">Home / Transfer</h2></li>
</ul>

<div class="centered"><h1 id="sendmoney">Send money</h1><form action="add" method="get"><button type="submit" id="addconnection" >Add Connection</button></form></div>
<form id="bckggray" class="row" action="transfer" method="post">
    <div class="columns">
        <div class="column">
            <select class="paiement" name="friendid">
                <option value="" selected disabled hidden>Select A Connection</option>
                <option th:each="friend : ${friendsaccounts}" th:value="${friend.getId()}">
                    <div th:text="${friend.getUser().getFirstName()} + ' ' + ${friend.getUser().getLastName()}" th:value="${friend.getUser().getId()}"></div>
                </option>
            </select>
        </div>
        <div class="column">
            <input onkeyup="calculatRealmAmount()" class="paiement" type="number" id="amount" name="amount" placeholder="Amount">€
            <span>Montant réel :
            <span id="realAmount"></span>
            </span>
        </div>
        <div class="column">
            <input class="paiement" type="text" placeholder="Desciption" name="description">
        </div>
        <div class="column">
            <button class="paiement" id="btpay" type="submit" >Pay</button>
        </div>
    </div>
</form>
<div class="centered">
    <table id="table_id">
        <thead>
        <h1>My transactions</h1>
        </thead>
        <tr>
            <th>Connections</th>
            <th>Desciption</th>
            <th>Amount</th>
        </tr>
        <tr th:each="transaction : ${transactionList}" >
            <td th:text="${transaction.getAccount_receiver().getUser().getFirstName()}" > nom </td>
            <td th:text="${transaction.getDescription()}" > descriiption </td>
            <td th:text="${transaction.getAmount()+'€'}" > amount </td>
        </tr>
    </table>
    <div style="text-align: center">
        <a id="pagebutton" th:if="${transactionList.totalPages > 0}" class="list-inline-item p-0" th:each="pageNumber : ${pageNumbers}" th:href="@{/transfer(size=${transactionList.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==transactionList.number + 1} ? active">|</a>
    </div>

</div>
<script type="application/javascript">
    function calculatRealmAmount() {
        var realAmount = parseFloat(document.getElementById("amount").value) * 0.95
        document.getElementById("realAmount").innerHTML= realAmount
        console.log(document.getElementById("amount").value)
    }
</script>
</body>
</html>